<% if signed_in? %>
<div id="game">

      <div id="Histoire">
        <a href="/history/enigmas"><img class="themes-img" src="/images/theme1.png"></a>
      </div>

      <div id="Philo">
        <a href="/philosophy/enigmas"><img class="themes-img" src="/images/theme2.png"></a>
      </div>

      <div id="Maths">
        <a href="/maths/enigmas"><img class="themes-img" src="/images/theme3.png"></a>
      </div>

      <div id="Technologie">
        <a href="/technology/enigmas"><img class="themes-img" src="/images/theme4.png"></a>
      </div>

        <a href=""><img id="Spirale" src="/images/spirale.png"></a>

    </div>
<% else %>
	<h1>Enigma</h1>
    <p>
      Bienvenue sur Enigma !
    </p>
    <p>Déjà inscrit?
      <%= link_to "Se connecter",  signin_path %>
    <p>Nouveau?
    <%= link_to "S'inscrire !",  signup_path, :class => "signup_button round" %>
    </p>
<% end %>
