<% if signed_in? %>
<div id="game">

      <div id="Histoire">
        <a href="/history/enigmas"><img class="themes-img" src="/images/theme1.png"></a>
      </div>

      <div id="Philo">
        <a href="/philosophy/enigmas"><img class="themes-img" src="/images/theme2.png"></a>
      </div>

      <div id="Maths">
        <a href="/maths/enigmas"><img class="themes-img" src="/images/theme3.png"></a>
      </div>

      <div id="Technologie">
        <a href="/technology/enigmas"><img class="themes-img" src="/images/theme4.png"></a>
      </div>

        <a href=""><img id="Spirale" src="/images/spirale.png"></a>

    </div>
<% else %>
	<img class="enigma" src="/images/enigma.png">
  <br>
  <div class="buttons-connect">
      <%= link_to "Se connecter",  signin_path, :class => "button" %>
    <%= link_to "S'inscrire !",  signup_path, :class => "button" %>
  </div>
<% end %>
