<div style="margin-top: 200px;">

    <p>
      <h3>Rédaction des règles</h3>

      <p>Enigma a le plaisir de vous annoncer que son jeu concours aura lieu du 10/03/2015 au 17/03/2015.
        À la clé de nombreux lots  à gagner : Télévision, Des bons d’achats, Un compte avec 250€ d’acompte et gratuité bancaire, grâce à nos partenaires : la FNAC, Carrefour, Décathlon, BNP, Bouygues Telecom. Donc vous n’avez qu’une seule chose à faire : VENEZ JOUEZ !!!</p>

<h3>Comment gagner ?</h3>

<p>Rien de plus simple ! Il faut avoir le score le plus élevé. Si il y a égalité entre des joueurs, ce sera donc le plus rapide qui le remportera sur les autres.<p>

<h3>Fonctionnement du jeu</h3>
<p>
	•	Chaque utilisateur aura accès aux premières questions des 4 thèmes d’énigmes.<br>
	•	Lorsque vous répondez à la question d’un bloc, vous débloquez la question du niveau supérieur correspondant à ce bloc.<br>
	•	Lorsque vous avez répondu aux questions de chaque bloc, une ultime question se débloque.<br>
	•	Rien ne vous empêche de jouer sur plusieurs blocs en même temps.<br></p>

<h3>Fonctionnement du score </h3>
<p>
 - Chaque énigme rapporte le double de points de la précédentes au sein d’un même bloc.<br>
-Le score marqué à la dernière énigme vaut la somme des scores des énigmes précédent au sein d’un bloc.<br>
-Une pénalité correspondant à un pourcentage du score initiale de l’énigme, sera appliquée dans le cas d’utilisation d’un indice.<br>
-À chaque tentative ratée, une pénalité de point est attribué.<br>
-La dernière énigme est celle qui vaut le plus de point.<br>


    </p>
	</div>
