<footer>
  <div id="Mentions">
    <a href="/about">Mentions L&eacute;gale</a>
  </div>
  <div id="fb">
    <a href="https://www.facebook.com/Jeu-d%C3%A9nigmes-Enigma-1579571752302617/?notif_t=fbpage_fan_invite">
      <img src="/images/fb.png" class="fb-img"  />
    </a>
  </div>
</footer>
