
	<header class="header">
		<% if signed_in? %>
	        <img src="/images/logo.png" class="logo" style=" " />

	          <div id="Jeu">
	              <%= link_to "Jouer", root_path %>
	          </div>
	          <div id="Regles">
	              <a href="/rules">Regle</a>
	          </div>
	          <div id='Utilisateur'>
	              <%= link_to "Utilisateur", edit_user_path(current_user)%>
	          </div>
	          <div id="Deconnexion">
	              <a href="/signout">D&eacute;connexion</a>
	          </div>
						<% end %>
	    </header>
